{{! template-lint-disable require-input-label }}
<Input style='width:20px' @type='text' @value={{this.num1}} /><span>+</span>
<Input style='width:20px' @type='text' @value={{this.num2}} />
<span>= {{this.calculateSum2}}</span>