<div>User detail</div>
{{#if @resource.isRunning}}
  <div>Loading...</div>
{{else}}
  {{! Use let helper }}
  {{#each @resource.value.result as |result|}}
    <div>{{result.id}}</div>
    <div>{{result.name}}</div>
  {{/each}}
{{/if}}