{{page-title 'Managers'}}

{{! Playing with custm component manager }}
<ComponentManager::Sample as |value onIncrement|>
  <div>
    <div>
      <button type='button' {{on 'click' onIncrement}}>Increment</button>
    </div>
    <lable>Value:</lable><span>{{value}}</span>
  </div>
</ComponentManager::Sample>

<hr />
<h3>Use plain javascript functions</h3>
<Toggle />